.profile-photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Force profile image round shape */
.profile-photo-preview {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: block;
}


.profile-photo-placeholder {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

/* hide raw file input */
.profile-photo-input {
  display: none;
}
