{% extends "base.html" %}
{% block title %}Home | Pinterest Clone{% endblock %}

{% block content %}
<div>
  <h2 style="text-align:center;">All Pins</h2>

 {% if pins %}
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px; padding: 20px;">
    {% for pin in pins %}
    <div style="background: #fff; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); padding: 10px;">
        <a href="{% url 'pin_detail' pin.pk %}">
            <img src="{{ pin.image.url }}" alt="{{ pin.title }}" style="width:100%; border-radius:10px;">
        </a>
        <!-- <p>{{ pin.title }}</p> -->
    </div>
    {% endfor %}
</div>
{% else %}
<p>No pins uploaded yet. <a href="{% url 'create_pin' %}">Upload one!</a></p>
{% endif %}

</div>
{% endblock %}