body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('../images/image.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.auth-box {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.15);
  padding: 40px;          
  width: 500px;          
  min-height: 460px;      
  text-align: center;
}


.auth-box h2 {
  color: #e60023;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #e60023;
}

.btn {
  background-color: #e60023;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #c0001c;
}

.bottom-text {
  margin-top: 15px;
  font-size: 14px;
}

.bottom-text a {
  color: #e60023;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}
