body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('../images/image.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  padding: 40px 30px;
  width: 350px;
  text-align: center;
}

.card h2 {
  color: #d63384;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
}


.card form {
  display: flex;
  flex-direction: column;
}

.card input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.card input:focus {
  border-color: #e60023;
}

.card button {
  background: #e60023;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;http://127.0.0.1:8000/
  margin-top: 10px;
  transition: background 0.3s ease;
}

.card button:hover {
  background: #c7001e;
}

.message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #e60023;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
