{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileApp/edit_profile.css' %}">
{% endblock %}

{% block content %}

<h2 class="title">Edit Profile</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-photo-wrapper">

        {% if profile.photo %}
        <img src="{{ profile.photo.url }}" class="profile-photo-preview">
        {% else %}
        <div class="profile-photo-placeholder">
            {{ request.user.username|first|upper }}
        </div>
        {% endif %}

        <label class="upload-btn">
            Change Photo
            {{ form.photo }}
        </label>

    </div>

    <label>Bio</label>
    {{ form.bio }}

    <label>Website</label>
    {{ form.website }}

    <label>Location</label>
    {{ form.location }}

    <button type="submit" class="save-btn">Save</button>
</form>

{% endblock %}